/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    padding: 0;
    margin: 0 ;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
}

.section-title, h2 {
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img, .activities img, .hebergements-card img {
    object-fit: cover;
}

.card-title, h2, article, .search-description, nav, h3  {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}
h2{
    padding-bottom: 5px;
}

a{
    text-decoration: none;
    color: black;
}


/********Header********/
header{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: row;
    flex-wrap: wrap;
   }

.little-logo{
    width: 61px;
    height: auto;
    margin-top: 30px;
}
nav{
    display: flex;
    align-items: center;
  }

.nav_effect{
    width: 162px;
    display: flex;
    justify-content: space-around;
    padding-top: 60px;
    border-top: 3px solid transparent;
    text-decoration: none;
    }

nav a:hover{
    color: var(--main-color);
}
.nav_effect:hover{
    border-top: 3px solid;
}

.fa-magnifying-glass{
    display: none;
}
/********Recherche********/
.search{
    margin-top: 50px;
    margin-bottom: 25px;
}


fieldset{
    width: 150px;
    height: 49px;
    display: flex;
    align-items: center;
    border-style: none;
    padding-left: 0;
    margin: 30px 0 20px 0;

}
 .fa-location-dot{
     width: 50px;
     height: 49px;
     background-color: var(--main-bg-color);
     border-radius: 15px 0 0 15px;
     display: flex;
     justify-content: center;
     align-items: center;
     color: black;
     font-size: 18px;
 }


 #city{
     width: 233px;
     height: 49px;
     border-top: solid var(--main-bg-color);
     border-right: none;
     border-left: none;
     border-bottom: solid var(--main-bg-color);
     font-size: 18px;
     font-weight: 700;
     line-height: 21.13px;
     padding-left: 15px;
      }

#city::placeholder{
    color:black
}
 #search_button{
    background-color: var(--main-color);
    border-radius: 0 15px 15px 0;
    width: 132px;
    height: 49px;
    top: 199px;
    left: 141px;
    font-weight: bold;
    color: white;
    border: 1px;
    padding: 15px 16px 15px 16px;
    font-size: 18px;

 }

#search_filter{
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
    width:814px;
}

.search h2{
    margin-bottom: 5px;
}

/********Filtres********/


.filter{
    border: #D9D9D9 solid 2px;
    border-radius: 25px;
    padding: 0 20px 0 20px;
    display: flex;
    align-items: center;
    height: 48px;
    font-weight: bold;
    animation-name: nohover;
    animation-duration: 1000ms;

}
.filter-container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 894px;
}



/********Animations_filtres********/
@keyframes nohover {
       0%{
           transform: scale(1.1);
           background-color: var(--filter-bg-color);
       }

    40%{
        transform: scale(0.9);
    }
    100%{
        transform:scale(1);
        background-color: #ffffff;
    }
}

.fa-money-bill-wave,  .fa-dog, .fa-heart, .fa-person{
    padding: 10px 10px 10px 0;
}

.filter:hover{
    animation-name: zoom;
    animation-duration: 1000ms;
    animation-fill-mode: forwards;
}
@keyframes zoom {
    40%{
        transform: scale(1.2);
    }

    100%{
        transform: scale(1.1);
        background-color: var(--filter-bg-color);
    }
}
/******** Nombre de résultat (bouton "i" + texte)********/

.circle{
    width: 24px;
    height:24px;
    color: var(--main-color);
    border-radius: 24px;
    border: 1px solid #D9D9D9;
}

.fa-info{
    padding-top: 3px;
    padding-left: 9px;
}


.info{
    display: flex;
    align-items: center;
    padding: 18px 0 10px 0;

}
.info p{
    padding-left: 10px;
}



/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
#hebergements {
    width: 65%;
}

.card-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;

}
.hebergements-card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    width: 30%;
    height: 100%;
    margin-top: 30px;
}
.hebergements-card img {
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 114px;
}

.hebergements-card .card-content {
    width: 100%;
    height: 100%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content:space-between ;
    box-sizing: border-box;
}

.hebergements-card .card-title {
    margin-top: 5px;
    margin-bottom: 4px;
}

.hebergements-card .card-subtitle {
    margin-bottom: 0;

}

/********"Afficher plus"********/
.more{
    padding-top: 45px;
}
.more p{
    font-size: 18px;
    font-weight: bold;
}


/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin-bottom: 0;
}

.populaires-cards .card-rating {
    margin: 5px;
}

/** Activités à Marseille **/

.activities-title{
    padding: 60px 0 15px 0;
}

.activities-card{
    width: 22.5%;
    height: 350px;
    border-radius: 20px;
    border: 1px none #D9D9D9;
    box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.1);

}
 .activities img{
     width: 100%;
     height: 280px;
 }

 .activities-card, .activities img{
     border-top-left-radius: 20px;
     border-top-right-radius: 20px;
 }
 
 .activities-card .card-content{
     padding: 15px 15px 0 15px;
 }

 .activities-container{
     display: flex;
     justify-content: space-between;
     width: 100%;
    }


 /**Footer**/

.footer-container{
    background-color: var(--main-bg-color);
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0 0 25px 0;
}

footer h3{
    font-weight: bold;
    padding: 30px 0 30px 0;
}

ul{
    list-style: none;
    padding-left: 0;
 }

li{
    padding: 0 0 15px 0 ;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1023px) {

    .main-container {
        max-width: 1023px;
    }

    .hebergements-and-populaires
     {
        display: flex;
        flex-direction: column;
    }

    #hebergements,.hebergements-and-populaires, .populaires,
    .filter-container
    {
        width: 100%;
    }

    .populaires {
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

    }

    .populaires-cards a{
        width:30%;
    }
    .card-title{
        font-size: 14px;
    }

    .card-subtitle {
        font-size: 13px;
    }
    .activities-card{
        width: 21%;
        height: 220px;
        position: relative;
    }
    .activities img{
        height: 145px;
    }
    .activities-card .card-content{
        font-size: 10px;
        padding: 7px 15px 0 15px;
        position: relative;
    }


 }


/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    .main-container, header, nav, .nav_effect, .search, .filter-container h2, .populaires-cards a, .hebergements-card, .activities-card{
        width: 100%;
    }
.main-container{
    max-width: 767.98px;
    padding: 0;
}

    header{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;

    }


nav a{
    padding: 0 0 20px 0;
    margin-top:15px;
    border-bottom: 3px solid var(--main-bg-color);
     }

    nav a:hover{
        border-bottom: 3px solid var(--main-color);
    }

    .nav_effect,.nav_effect:hover {
        border-top: none;
    }

    .search{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .search h2, .search-description, article, form, .filter-container, .info {
        padding:0 15px 0 15px;
    }
    #search_button{
        display: none;
    }

    fieldset{
        margin: auto;
        padding: 20px 0 20px 0;
    }

    .fa-magnifying-glass{
        display: initial;
        width: 17px;
        height: 17px;
        color: white;

    }

    /********bouton "Loupe"********/
    .glass_style{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 49px;
        height:49px;
        background-color: var(--main-color);
        border-radius: 0 15px 15px 0;
        border: 1px solid #D9D9D9;
    }

    /********Fin bouton"Loupe"********/

    #search_filter{
        display:flex;
        flex-direction: column;
        flex-wrap: wrap ;
        align-items: center;
        align-content: center;
        width: 65%;
        height: 150px;
    }

    .filter-container{
        display: flex;
        flex-direction: column;
        align-content: space-between;
        min-width: fit-content;
    }

.filter{
    margin: auto;
    min-width: fit-content;
    width: 50%;
    margin:0 15px 0 0 ;
    position:relative;

}
    .hebergements-and-populaires section, .activities, .footer-container {
        border-radius: 0;
        padding: 30px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        box-sizing: content-box;

    }

    .hebergements-and-populaires {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
    }

        .card-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
    }

        #hebergements{
            background-color: white;
            margin-top: 50px;
        }

        .hebergements-card article{
            padding: 0;
        }

    .hebergements-card {
        background-color: white;
        filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
        height: 199px;
    }
      .activities-container{
        display: flex;
        flex-direction: column;
        align-items:center ;
        justify-content: space-around;
    }

    .activities-card{
        height: 150px;
        border-radius: 20px;
        border: 1px none #D9D9D9;
        box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.1);
        margin-bottom: 25px;
        min-height: fit-content;

}
    .activities img{
       height: 100px;
    }

    .footer-container{
        background-color: var(--main-bg-color);
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }



}


