/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img, .activities img, .hebergements-card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}
h2{
    font-size: 22px;
}

h3{
    font-size: 16px;
}

/**Header**/
header{

    display: flex;
    justify-content: space-between;
}

header img{
    width: 61px;
    height: 19px;
}

nav{
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 381px;
    height: 19px;
    top: 48px;
    left: 982px;
    padding: 0px 0px 0px 138px;
}

article, nav {
    font-size: 16px;
}
a{
    text-decoration: none;
    color: black;

}

a:hover{
    color: var(--main-color);
    border-top: 3px solid;
    padding-top: 21px;
}
/**Recherche**/
.search{
    margin-top: 50px;
    margin-bottom: 20px;
}


fieldset{
    width: 150px;
    height: 49px;
    display: flex;
    align-items: center;
    border-style: none;
    padding-left: 0;



}
 .fa-location-dot{
     width: 50px;
     height: 49px;
     background-color: var(--main-bg-color);
     border-radius: 15px 0px 0px 15px;
     display: flex;
     justify-content: center;
     align-items: center;
     color: black;
     font-size: 18px;
 }


 #city{
     width: 233px;
     height: 49px;
     border-top: solid var(--main-bg-color);
     border-right: none;
     border-left: none;
     border-bottom: solid var(--main-bg-color);
     font-size: 18px;
     font-weight: 700;
     line-height: 21.13px;
     padding-left: 15px;
      }

#city::placeholder{
    color:black
}
 #search_button{
    background-color: var(--main-color);
    border-radius: 0px 15px 15px 0px;
    width: 132px;
    height: 49px;
    top: 199px;
    left: 141px;
    font-weight: bold;
    color: white;
    border: 1px;
    padding: 15px, 16px, 15px, 16px;
    font-size: 18px;

 }
 


#search_filter{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 914px;
    

}

.search article{
    margin-bottom: 15px;
}

.search h2{
    margin-bottom: 8px;
}

/**Filtres**/
.filter{
    border: solid 2px;
    border-color: #D9D9D9;
    border-radius: 25px;
    padding: 0px 20px 0px 20px;
    display: flex;
    align-items: center;
    height: 48px;
    animation-name: nohover;
    animation-duration: 1000ms;
}


@keyframes nohover {
       0%{
           transform: scale(1.1);
           background-color: var(--filter-bg-color);
       }

    40%{
        transform: scale(0.9);
    }
    100%{
        transform:scale(1);
        background-color: #ffffff;
    }
}

.fa-money-bill-wave,  .fa-dog, .fa-heart, .fa-person{
    padding: 10px 10px 10px 0px;
}

.filter:hover{
    animation-name: zoom;
    animation-duration: 1000ms;
    animation-fill-mode: forwards;
}
@keyframes zoom {
    40%{
        transform: scale(1.2);
    }

    100%{
        transform: scale(1.1);
        background-color: var(--filter-bg-color);
    }
}


.circle{
    width: 24px;
    height:24px;
    color: var(--main-color);
    border-radius: 24px;
    border: 1px solid #D9D9D9;
}

.fa-info{
    padding-top: 3px;
    padding-left: 9px;
}


.info{
    display: flex;
    align-items: center;

}
.info p{
    padding-left: 10px;
}



/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
#hebergements {
    width: 65%;
}

.card-container{

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.hebergements-card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    width: 30%;
    height: 200px;
    margin-top: 30px;


}
.hebergements-card img {
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 114px;

}

.hebergements-card .card-title{
    margin: 7px;

}

.hebergements-card .card-subtitle {
    margin-top: 0px;
    margin-left: 7px;
    margin-bottom: 4px;

}

.hebergements-card .card-rating {

    padding-left: 7px;

}

.more{
    padding-top: 10px;
}


/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/** Activités à Marseille **/

.activities-title{
    padding-top: 15px;
}

.activities-card{
    width: 23%;
    height: 400px;
    border-radius: 20px;
    border: 1px none #D9D9D9;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1);

    
}
 .activities img{
     width: 100%;
     height: 340px;
 }

 .activities-card, .activities img{
     border-top-left-radius: 20px;
     border-top-right-radius: 20px;


 }
 
 .activities-card .card-content{
     
     padding-left: 15px;
 }

 .activities-container{

     display: flex;
     flex-direction: row;
     justify-content: space-between;
 }

 /**Footer**/

.footer-container{
    background-color: var(--main-bg-color);
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

ul{
    list-style: none
;
}

li{
    padding: 5px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}